# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.idea/
*.iml

# Jupyter notebook checkpoints (if you use them)
.ipynb_checkpoints/

# Environment variables/secrets (if you have any)
.env

# Ignore log files
*.log
